
Input/BBDD ESI/2018/esi_2018_personas.dta
Input/BBDD ESI/2019/documento-metodológico-esi-2019.pdf
Input/BBDD ESI/2019/esi-2019---personas.sav
Input/BBDD ESI/2019/ficha-técnica-esi-2019.xlsx
Input/BBDD ESI/2019/Síntesis Nacional ESI 2019.pdf
Datos informalidad 2010-2020/Output/bases_INE_informalidad_2010-2020.Rdata
Datos informalidad 2010-2020/Output/bases_INE_informalidad_2010-2020.zip
Datos informalidad 2010-2020/Output/Gráfico1_informales_porcentaje_comparado_sintitulo.png
Datos informalidad 2010-2020/Output/Gráfico2_porcentaje_extr_parcial_adentro_sin_titulo.png
